
* {
  color: #333;
}

body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 42px;
}

/* buttons */

#buttons-container button {
  border: none;
  padding: 10px 15px;
  margin: 0 10px;
  font-weight: 500;
}
#container {
  display: flex;
  width: 300px;
  margin-top: 17px;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.box {
  height: 100px;
  border: 5px solid #333;
  box-sizing: border-box;
  flex: 1 1 33%;
}

#block-1 {
  border-top: none;
  border-left: none;
}
#block-2 {
  border-top: none;
}
#block-3 {
  border-top: none;
  border-right: none;
}
#block-4 {
  border-left: none;
}
#block-6 {
  border-right: none;
}
#block-7 {
  border-left: none;
  border-bottom: none;
}
#block-8 {
  border-bottom: none;
}
#block-9 {
  border-bottom: none;
  border-right: none;
}

.x {
  font-size: 65px;
  color: red;
  line-height: 100px;
  display: inline-block;
}
.o {
  width: 50px;
  height: 50px;
  border: 5px solid green;
  border-radius: 50%;
  display: inline-block;
  margin-top: 17px;
}

/*.hide {
  display: none; !important;
}*/

#scoreboard-container {
  font-weight: bold;
  font-size: 25px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
}
#scoreboard-container h2 {
  margin: 5px;
}

#x-scoreboard {
  color: red;
  margin-right 3px;
}

#o-scoreboard {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 2px solid green;
  border-radius: 50%;
  position: relative;
  top: 1px;
}

[bola] {
  padding-left: 40px;
}

#message p {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
  top: 150px;
  width: 500px;
  font-size: 50px;
  background-color: #333;
  color: white;
  padding: 20px;
  display: none;
}
